@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-secondary: #ffb142;
	--color-primary: #e84118;
	--color-accent: #2980b9;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--color-secondary: #f39c12;
		--color-accent: #3498db;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-roboto), sans-serif;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@layer utilities {
	@keyframes moving-bar {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(200%);
		}
	}

	.animate-moving-bar {
		animation: moving-bar 1.5s linear infinite;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.animate-fade-in {
		animation: fade-in 1s ease-in-out;
	}
}